<html>
  <body>
	<h1>Property Listings</h1>
	<table class="table">
		<th>Address</th>
		<th>Rate</th>
		<th>Available Date</th>
		<% for listing in @properties %>
			<tr>
				<td>
					<h4><a href="<%= property_applications_url(listing.id) %>"><%= listing.street %><br><%= listing.city %> <%= listing.state %> <%= listing.zip %></a></h4>
				</td>
				<td><h5><%= listing.price %></h5></td>
				<td><%= listing.avail_date %></td>
			</tr>
		<% end %>
	</table>
  </body>
	
</html>
