<html>
  <body onload="checkFBLogin('send_fblogin')">
	<%= form_tag("/property/", :method => "get", :name => "send_fblogin") do %>
		<%= hidden_field_tag :uid, "" %>
	<% end %>
	<h1>Property Listings</h1>
	<table class="table">
		<th>Address</th>
		<th>Rate</th>
		<th>Available Date</th>
		<% for listing in @properties %>
			<tr>
				<td>
					<h4><%= listing.street %><br><%= listing.city %> <%= listing.state %> <%= listing.zip %></h4>
				</td>
				<td><h5><%= listing.price %></h5></td>
				<td><%= listing.avail_date %></td>
			</tr>
		<% end %>
	</table>
  </body>
	
</html>
