<html>
  <body>
	<%= form_tag("/property/create", :method => "post", :name => "new_property") do %>
		<%= hidden_field_tag :uid, "" %>
		<%= label_tag(:beds, "Beds") %>
	    <%= text_field_tag(:beds) %>
	    <%= label_tag(:baths, "Baths") %>
	    <%= text_field_tag(:baths) %>
		<%= label_tag(:street, "Street") %>
		<%= text_field_tag(:street) %>
		<%= label_tag(:unit, "Unit") %>
		<%= text_field_tag(:unit) %>
		<%= label_tag(:city, "City") %>
		<%= text_field_tag(:city) %>
		<%= label_tag(:state, "State") %>
		<%= text_field_tag(:state) %>
		<%= label_tag(:zip, "Zip") %>
		<%= text_field_tag(:zip) %>
		<%= label_tag(:avail_date, "Date Available") %>
		<%= text_field_tag(:avail_date) %>
		<%= label_tag(:price, "Rate") %>
		<%= text_field_tag(:price) %>
		<%= label_tag(:deposit, "Deposit") %>
		<%= text_field_tag(:deposit) %>
		<%= label_tag(:parking, "Has Parking") %>
		<%= select_tag(:parking, options_for_select([["Yes", 1], ["No", 0]], 1)) %>
	<%= button_to_function "Create Listing", "checkFBLoginAndSubmitForm('new_property')" %>
	<% end %>
  </body>
	
</html>
