<!DOCTYPE html>
<html>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>	
<script type="text/javascript">
var search_results = [<%= raw @search_results.to_json %>];
</script>
<body onload="initialize()">
<div id="sidebar">
	<h3>Listings</h3>
	<table class="table">
		<th>Address</th>
		<th>Rate</th>
		<th>Available Date</th>
		<% for listing in @search_results %>
			<tr>
				<td>
					<h5><a href="#propDetails<%= listing.id %>" data-backdrop="true" data-keyboard="true" data-toggle="modal" onclick="setMapCenterAndShowDetails(<%= listing.id %>, <%= listing.latitude %>, <%= listing.longitude %>)"><%= listing.street %><br><%= listing.city %> <%= listing.state %> <%= listing.zip %></h5>
				</td>
				<td><h5><%= listing.price %></h5></td>
				<td><%= listing.avail_date %></td>
			</tr>
			
			<!-- Modal -->
			<div id="propDetails<%= listing.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel"><%= listing.street %><br><%= listing.city %> <%= listing.state %> <%= listing.zip %></h3>
			  </div>
			  <div class="modal-body">
			    <p>Description of this apartment</p>
			  </div>
			  <div class="modal-footer">
				<%= form_for @property, :url => { :controller => "property", :action => "apply" }, :builder => BootstrapFormBuilder, :method => "post" do |form| %>
					<%= hidden_field_tag :prop_id, listing.id %>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<%= form.button 'Apply', :class => "btn btn-primary" %>
				<% end %>
			  </div>
			</div>
			
		<% end %>
	</table>
</div>

<div id="mapDiv"></div>
</body>
</html>
