<html>
	<div class="container">
		
			<h1><%= @user.firstname %> <%= @user.lastname %></h1>
			<% if !@user.uid.blank? %>
				<img src="https://graph.facebook.com/<%= @user.uid %>/picture?width=300&height=300"/>
			<% end %>
			<br>
			<%= link_to "Connect with FB", user_omniauth_authorize_path(:facebook) %>
			<br>
			<%= link_to "Connect with Linkedin", auth_url %>
			<br>
			<h4><%= link_to "View Application", app_url(@user.id) %></h4>
			<hr>
			<h3>Credit score: <span id="creditScore"><%= @user.credit_score %></span></h3>
			<%= link_to "Run Credit Check", "#", :onclick => "getCreditScore()" %>
			<br>
			Provided by <%= image_tag("bureaus.png") %>
			<hr>
			<h3>Background check</h3>
			<%= link_to "Run Background Check" %>
			<ul>
				<li>Driving and Vehicle Records</li>
				<li>Criminal Records</li>
				<li>Court and Legal Records</li>
				<li>Bankruptcy</li>
				<li>Property Ownership</li>
				<li>Previous Employers</li>
				<li>Sex Offender Registries</li>
				<li>Citizenship Status</li>
			</ul>
			<hr>
			<h3>Education</h3>
			<% if !@education_map.nil? %>
				<% @education_map.each do |education| %>
					<h4><%= 'School: ' + education.school_name if !education.school_name.nil? %></h4>
					<h4><%= 'Degree: ' + education.degree if !education.degree.nil? %></h4>
					<h4><%= 'Date: ' + education.end_date.map{|k,v| v}[0].to_s() if !education.end_date.nil? %></h4>
					<h4><%= 'Major: ' + education.field_of_study if !education.field_of_study.nil? %></h4>
				<% end %>
			<% end %>
			<hr>
			<h3>Positions</h3>
			<% if !@position_map.nil? %>
				<% @position_map.each do |position| %>
					<h4><%= 'Title: ' + position.title if !position.title.nil? %></h4>
					<h4><%= 'Company: ' + position.company.name if !position.company.name.nil? %></h4>
				<% end %>
			<% end %>
			<hr>
			<h3>Reviews for <%= @user.firstname %></h3>
			<%  if !@reviews.blank? %>
				<table class="table">
					<% for review in @reviews %>
					
							<tr>
								<td><%= review.review %></td>
								<td><%= User.find(review.reviewer_id).firstname %> <%= User.find(review.reviewer_id).lastname %></td>
							</tr>
					<% end %>
				</table>

			<br>
			<%= form_for :review, :url => submit_review_user_url(@user.id), :builder => BootstrapFormBuilder, :method => "post" do |form| %>	
				<%= text_area(:review, :body, :size => "50x10", :class => "reviewTextArea") %>
				<br>
				<%= form.button 'Submit Review', :class => "btn btn-primary" %>
			<% end %>
		<% end %>	
	</div>
</html>