<html>
	<div class="container">
		
			<h1><%= @user.firstname %> <%= @user.lastname %></h1>
			<% if !@user.uid.blank? %>
				<img src="https://graph.facebook.com/<%= @user.uid %>/picture?width=250&height=250"/>
			<% else %>
				<%= link_to image_tag("facebook-connect-button.png"), user_omniauth_authorize_path(:facebook) %>
			<% end %>
			<br>
			<br>
			<%= link_to image_tag("connect-on-linkedin.gif"), auth_url %>
			<br>
			<hr>
			<h4><%= link_to "View Application", app_url(@user.id) %></h4>
			<hr>
			<h3>Credit score: <span id="creditScore"><%= @user.credit_score %></span></h3>
			<%= link_to "Run Credit Check", "#", :onclick => "getCreditScore()" %>
			<br>
			Provided by <%= image_tag("bureaus.png") %>
			<hr>
			<h3>Background check</h3>
			<%= link_to "Run Background Check", "#", :onclick => "getBackgroundCheck()" %>
			<ul id="backgroundCheck">
				<li>Driving and Vehicle Records: None</li>
				<li>Criminal Records: None</li>
				<li>Court and Legal Records: None</li>
				<li>Bankruptcy: None</li>
				<li>Property Ownership: None</li>
				<li>Previous Employers: None</li>
				<li>Sex Offender Registries: None</li>
				<li>Citizenship Status: None</li>
			</ul>
			<hr>
			<h3>Education</h3>
			<% if !@education_map.nil? %>
				<table class="table">
					<% @education_map.each do |education| %>
						<tr>
							<td>
								<h4><%= education.school if !education.school.nil? %></h4>
								<h5><%= education.major if !education.major.nil? %> <%= education.degree if !education.degree.nil? %></h5>
							</td>
							<td>
								<%= education.date.year.to_s if !education.date.nil? %>
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
			<hr>
			<h3>Positions</h3>
			<% if !@position_map.nil? %>
				<table class="table">
					<% @position_map.each do |position| %>
						<tr>
							<td><h4><%= position.title if !position.title.nil? %></h4>
								<h5><%= position.company if !position.company.nil? %></h5>
							</td>
							<td><%= position.startdate.month.to_s + '/' + position.startdate.year.to_s if !position.startdate.nil? %> - <%= position.enddate.month.to_s + '/' + position.enddate.year.to_s if !position.enddate.nil? %></td>
						</tr>
					<% end %>
				</table>
			<% end %>
			<hr>
			<h3>Reviews for <%= @user.firstname %></h3>
			<%  if !@reviews.blank? %>
				<table class="table">
					<% for review in @reviews %>
					
							<tr>
								<td><%= review.review %></td>
								<td><%= User.find(review.reviewer_id).firstname %> <%= User.find(review.reviewer_id).lastname %></td>
							</tr>
					<% end %>
				</table>
			<% end %>
			<br>
			<%= form_for :review, :url => submit_review_user_url(@user.id), :builder => BootstrapFormBuilder, :method => "post" do |form| %>	
				<%= text_area(:review, :body, :size => "50x10", :class => "reviewTextArea") %>
				<br>
				<%= form.button 'Submit Review', :class => "btn btn-primary" %>
		<% end %>	
	</div>
</html>