<html>
  <body>
	<div class="container">
		<table>
		<%= form_tag(app_index_url, :method => "post") do %>
			<tr>
				<td><hr><h4>Current Address</h4><hr></td>
			</tr>
			<tr>
				<td>
					<%= Settings[:curr_street_address] %>
					<%= text_field_tag :curr_street_address %>
				</td>
				<td>
					<%= Settings[:curr_city] %>
					<%= text_field_tag :curr_city %>
				</td>
				<td>
					<%= Settings[:curr_state] %>
					<%= text_field_tag :curr_state %>
				</td>
				<td>
					<%= Settings[:curr_zip] %>
					<%= text_field_tag :curr_zip %>
				</td>
			</tr>
			<tr>
				<td>
					<%= Settings[:curr_date_in] %>
					<%= text_field_tag :curr_date_in %>
				</td>
				<td>
					<%= Settings[:curr_date_out] %>
					<%= text_field_tag :curr_date_out %>
				</td>
			</tr>
			<tr>
				<td>
					<%= Settings[:curr_landlord] %>
					<%= text_field_tag :curr_landlord %>
				</td>
				<td>
					<%= Settings[:curr_landlord_phone] %>
					<%= text_field_tag :curr_landlord_phone %>
				</td>
				<td>
					<%= Settings[:curr_reason_leave] %>
					<%= text_field_tag :curr_reason_leave %>
				</td>
			</tr>
			<tr>
				<td><hr><h4>Previous Address</h4><hr></td>
			</tr>
			<tr>
				<td>
					<%= Settings[:prev_street_address] %>
					<%= text_field_tag :prev_street_address %>
				</td>
				<td>
					<%= Settings[:prev_city] %>
					<%= text_field_tag :prev_city %>
				</td>
				<td>
					<%= Settings[:prev_state] %>
					<%= text_field_tag :prev_state %>
				</td>
				<td>
					<%= Settings[:prev_zip] %>
					<%= text_field_tag :prev_zip %>
				</td>
			</tr>
			<tr>
				<td>
					<%= Settings[:prev_date_in] %>
					<%= text_field_tag :prev_date_in %>
				</td>
				<td>
					<%= Settings[:prev_date_out] %>
					<%= text_field_tag :prev_date_out %>
				</td>
			</tr>
			<tr>
				<td>
					<%= Settings[:prev_landlord] %>
					<%= text_field_tag :prev_landlord %>
				</td>
				<td>
					<%= Settings[:prev_reason_leave] %>
					<%= text_field_tag :prev_reason_leave %>
				</td>
			</tr>
			<tr>
				<td><hr><h4>Employment Information</h4><hr></td>
			</tr>
			<tr>
				<td>
					<%= Settings[:occupation] %>
					<%= text_field_tag :occupation %>
				</td>
				<td>
					<%= Settings[:employer] %>
					<%= text_field_tag :employer %>
				</td>
				<td>
					<%= Settings[:salary] %>
					<%= text_field_tag :salary %>
				</td>
			</tr>
			<tr>
				<td>
					<%= Settings[:supervisor] %>
					<%= text_field_tag :supervisor %>
				</td>
				<td>
					<%= Settings[:supervisor_phone] %>
					<%= text_field_tag :supervisor_phone %>
				</td>
				<td>
					<%= Settings[:employer_start] %>
					<%= text_field_tag :employer_start %>
				</td>
				<td>
					<%= Settings[:employer_end] %>
					<%= text_field_tag :employer_end %>
				</td>
			</tr>
			<tr>
				<td><hr><h4>Emergency Contact</h4><hr></td>
			</tr>
			<tr>
				<td>
					<%= Settings[:emerg_name] %>
					<%= text_field_tag :emerg_name %>
				</td>
				<td>
					<%= Settings[:emerg_address] %>
					<%= text_field_tag :emerg_address %>
				</td>
				<td>
					<%= Settings[:emerg_phone] %>
					<%= text_field_tag :emerg_phone %>
				</td>
				<td>
					<%= Settings[:emerg_relationship] %>
					<%= text_field_tag :emerg_relationship %>
				</td>
			</tr>
			<tr>
				<td><hr><h4>Personal Reference</h4><hr></td>
			</tr>
			<tr>
				<td>
					<%= Settings[:ref_name] %>
					<%= text_field_tag :ref_name %>
				</td>
				<td>
					<%= Settings[:ref_address] %>
					<%= text_field_tag :ref_address %>
				</td>
				<td>
					<%= Settings[:ref_phone] %>
					<%= text_field_tag :ref_phone %>
				</td>
				<td>
					<%= Settings[:ref_relationship] %>
					<%= text_field_tag :ref_relationship %>
				</td>
			</tr>
			<tr>
				<td><hr><h4>Background Information</h4><hr></td>
			</tr>
			<tr>
				<td>
					<%= Settings[:bankruptcy] %>
					<%= text_field_tag :bankruptcy %>
				</td>
				<td>
					<%= Settings[:refuse_rent] %>
					<%= text_field_tag :refuse_rent %>
				</td>
			<tr>
				<td>
					<%= Settings[:evicted] %>
					<%= text_field_tag :evicted %>
				</td>
				<td>
					<%= Settings[:evicted_reason] %>
					<%= text_field_tag :evicted_reason %>
				</td>
			</tr>
			<tr>
				<td>
					<%= Settings[:convicted] %>
					<%= text_field_tag :convicted %>
				</td>
				<td>
					<%= Settings[:convicted_reason] %>
					<%= text_field_tag :convicted_reason %>
				</td>
			</tr>
			<tr>
				<td><hr><h4>Vehicle Information</h4><hr></td>
			</tr>
			<tr>
				<td>
					<%= Settings[:vehicle_make_model] %>
					<%= text_field_tag :vehicle_make_model %>
				</td>
				<td>
					<%= Settings[:vehicle_year] %>
					<%= text_field_tag :vehicle_year %>
				</td>

				<td>
					<%= Settings[:vehicle_license_state] %>
					<%= text_field_tag :vehicle_license_state %>
				</td>
				<td>
					<%= Settings[:evicted_reason] %>
					<%= text_field_tag :evicted_reason %>
				</td>
			</tr>
		</table>
		<br>
		<%= submit_tag("Create Application", :class => "btn") %>
		<% end %>
	</div>
  </body>
	
</html>
