<!DOCTYPE html>
<html>
<head>
  <title>Pad Visa</title>
  <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a id ="padvisatitle" class="brand" href="<%= root_url %>" style="font-family: 'Happy Monkey', cursive;margin-left:50px;font-size:28px; font-weight:bold">PadVisa</a>
			<ul class="nav">
				<li class="dropdown">
					<a id="renters" class="dropdown-toggle" data-toggle="dropdown" href="#">Renters<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="<%= root_url %>">Search Properties</a></li>
						<li><a href="<%= profile_url %>">My Profile</a></li>
						<li><a href="<%= app_url(0) %>">My Application</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Landlords<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="<%= new_property_url %>">List Properties</a></li>
						<li><a href="<%= property_index_url %>">My Properties</a></li>
					</ul>
				</li>
				<li><a href="<%= new_user_session_url %>">Log In</a></li>
		    </ul>
		</div>
	</div>
	<div id="contents">
		<% if !notice.nil? %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if !alert.nil? %>
			<p class="alert"><%= alert %></p>
		<% end %>
 		<%= yield %>
	</div>
</body>
</html>
