<!DOCTYPE html>
<html>
<head>
  <title>Pad Visa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<ul class="nav">
		      <li><a href="<%= root_url %>">Search Properties</a></li>
		      <li><a href="<%= new_property_url %>">List Properties</a></li>
		      <li><a href="<%= property_index_url %>">View My Properties</a></li>
		      <li><a href="<%= profile_user_url(0) %>">View My Profile</a></li>
		    </ul>
		</div>
	</div>
	<div id="contents">
		<% if !notice.nil? %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if !alert.nil? %>
			<p class="alert"><%= alert %></p>
		<% end %>
 		<%= yield %>
	</div>
</body>
</html>
